<%- include('../partials/header') %>

<h1>Exemplo CRUD</h1>
<a href="/funcionarios/new">Cadastrar</a><br/>
<a href="/funcionarios/list">Listar</a><br/>
<a href="/funcionarios/showDelete">Excluir</a><br/>
<a href="/funcionarios/search">Buscar/Editar</a><br/>

<%- include('../partials/footer') %>